:root {
  /* ******************************************** */
 
  --greyTextColor: #8F8F8F;
  --orangeTextColor: #FF914D;
  --greenTextColor: #008479;
  --activeTextColor: #34C38F;
  --deactiveTextColor: #C90303;
  --blueTextColor: #0085FF;
  --lightGreenBorderColor: #D7E7E5;
  --darkGreenBorderColor: #00A67E;
  --greyborderColor: #DDDDEB;
  --tableGreyBackgroundColor: #F2F3F6;
  --headingBackgroundColor: #E5F3F2;

  --greyInputborderColor: #E4E7EB;
  --greyInputTextColor: #ADADBD;

  --modalBorderColor: #DEE2E7;
  --sideBarBbColor: #F0F8F7;
  --redColorBtn: #B50000;
  --greenColorBtn: #008479;
  --lightgreyColorBtn: #E4E7EB;
  --darkgreyColorBtn: #D9D9D9;
  --cancelBtn: #ECEBF3;

  --activeOrangeBorder: #FF914C;
  --labelTextColor: #404040;
  --greyHeadingBgColor: #E5F3F2;
  --whiteTextColor: #ffffff;
  --whiteColor: #ffffff;
  --breadCrumColor: #78788C;
  --paragraghColor: #78788C;
  --headingBlackColor: #000000;
  --textColor: #000000;
  --buttonBgColor: #008479;
  --buttonBorderColor: #ECEBF3;
  --tableRowBgColor: #F2F3F6;
  --tableActionButtonBgColor: #D9D9D9;
  --buttonBorder: #D9D9D9;
  --backgroundColor: #F0F0FF;
  --addRemoveColor: #4286F4;
  --tableBoldblack: #404040;
  --tableRowBgColor22: #FFF9F6;
  --textareaColor: #B8B6B6;
  --colorF5F5F5:'#F5F5F5';
  --HrColor:'#DDDDEB';
  --OnGoingStatus:#41AD49;
  --UpcomingStatus:#4F3EE0;
  --ClosedStatus:#B50000;
  --AnchorTage:#4286F4;
 --LabelColor: #bbbec1;

  /* ******************************************** */

  --font-size-30: 30px;
  --font-size-25: 25px;
  --font-size-20: 20px;
  --font-size-18: 18px;
  --font-size-15: 15px;
  --font-size-14: 14px;
  --font-size-13: 13px;
  --font-size-12: 12px;

  /* ******************************************** */
}

body,
h1,
h2,
h3,
p,
ul,
li {
  font-family: Noto Sans;
  margin: 0;
  padding: 0;
}

/* *********************          Text Font Size     ********************* */

h1 {
  font-size: var(--font-size-30) !important;
}

h2 {
  font-size: var(--font-size-15) !important;
}

h3 {
  font-size: var(--font-size-14) !important;
}

span {
  font-size: var(--font-size-13) !important;
}

h5 {
  font-size: var(--font-size-12) !important;
}

tr{
  border-color: var(--greyInputborderColor);
}

.FontSize20{
  font-size: var(  --font-size-20) !important;
}
/* *********************          Text Font Size     ********************* */





/* ***********************          Text Colors     *********************** */

.greyText {
  color: var(--greyTextColor) !important;
}
.greyInputTextColor {
  color: var(--greyInputTextColor) !important;
}
.tableBoldBlack{
color: var(--tableBoldblack);
}
.orangeText {
  color: var(--orangeTextColor) !important;
}
.tableRowBgColor22{
  background: var( --tableRowBgColor22) !important;
}
.greenText {
  color: var(--greenTextColor) !important;
}
.tableGreyBackgroundColor{
  background-color: var( --tableGreyBackgroundColor) !important;
}
.activeText {
  color: var(--activeTextColor) !important;
}
.addRemoveColor{
  color: var(  --addRemoveColor);
}
.deactiveText {
  color: var(--deactiveTextColor) !important;
}
.label-text-color{
  color: var(  --labelTextColor) !important;
}

.blueText{
  color: var(--blueTextColor) !important;
}
.table-row-bg-color{
  background: var(--tableRowBgColor) !important;
}
.paraGraphColor{
  color: var(  --paragraghColor) !important;
}
.buttonBorder{
  border: 1px solid var(  --buttonBorder) !important;
}

.my-card-body{
  border: none;
  font-weight: 400;
  background-color: var(--sideBarBbColor) !important;
}
.color-d9d9d9d{
  color: var(--tableActionButtonBgColor) !important;
}
.HrColor{
  color: var(  --HrColor) !important;
}
.OnGoingStatus{
  color: var( --OnGoingStatus) !important;
}
.UpcomingStatus{
  color: var(   --UpcomingStatus) !important;
}
.ClosedStatus{
  color: var(  --ClosedStatus) !important;
}
.label-color{
  color: var(  --LabelColor ) !important;
}
.my-green{
  background-color: var(   --buttonBgColor ) !important;
  color: #fff !important;
}
/* ***********************          Text Colors     *********************** */

/* ***********************          border Colors     *********************** */

.cardradius {
  border-radius: 10px;
}

.sidebarborder {
  border-right: 1px solid var(--lightGreenBorderColor)
}

.sidebarlinkborder {
  border-bottom: 1px solid var(--lightGreenBorderColor)
}

.sidebartoplinkborder {
  border-top: 1px solid var(--lightGreenBorderColor)
}

.greyborders {
  border: 1px solid var(--greyborderColor)
}

.greyTopborders {
  border-top: 1px solid var(--greyborderColor)
}

.greyBottomborders {
  border-bottom: 1px solid var(--greyborderColor)
}


/* ***********************          border Colors     *********************** */



/* ***********************          Button Colors     *********************** */

.formcontrolsearch{
  border-radius: 5px 0px 0px 5px;
}

.searchButtons {
  background-color: var(--greenColorBtn);
  border-radius: 0px 5px 5px 0px;
}

.searchButtons:hover {
  background-color: var(--greenColorBtn);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.viewDetailsButtons {
  background-color: var(--lightgreyColorBtn);
  border-radius: 2px;
  width: 98px;
  height: 24px;
}

.viewDetailsButtons:hover {
  background-color: var(--lightgreyColorBtn);
  border-radius: 2px;
  width: 98px;
  height: 24px;
}

.viewDetailsButtons.show{
  background-color: var(--lightgreyColorBtn);
  border: none !important;
}


.addButtons {
  background-color: var(--greenColorBtn);
  border-radius: 5px;
  width: 115px;
  height: 38px;
}

.addButtons:hover {
  background-color: var(--greenColorBtn);
  border-radius: 5px;
  width: 115px;
  height: 38px;
}

.continueButtons {
  background-color: var(--greenColorBtn);
  border-radius: 0px;
  width: 92px;
  height: 38px;
}

.continueButtons:hover {
  background-color: var(--greenColorBtn);
  border-radius: 0px;
  width: 92px;
  height: 38px;
}

.deleteButtons {
  background-color: var(--redColorBtn);
  border-radius: 0px;
  width: 75px;
  height: 38px;
}

.deleteButtons:hover {
  background-color: var(--redColorBtn);
  border-radius: 0px;
  width: 75px;
  height: 38px;
}

.actionButtons {
  background-color: var(--darkgreyColorBtn);
  border-radius: 5px;
  width: 87px;
  height: 24px;
  line-height: 12px;
}

.actionButtons:hover {
  background-color: var(--darkgreyColorBtn);
  border-radius: 5px;
  width: 87px;
  height: 24px;
}

.updateButtons {
  background-color: var(--greenColorBtn);
  border-radius: 5px;
  width: 80px;
  height: 38px;
}

.updateButtons:hover {
  background-color: var(--greenColorBtn);
  border-radius: 5px;
  width: 80px;
  height: 38px;
}

.dltcancelButtons {
  border-color: var(--cancelBtn);
  border-radius: 0px;
  width: 71px;
  height: 38px;
}

.dltcancelButtons:hover {
  border-color: var(--cancelBtn);
  border-radius: 0px;
  width: 71px;
  height: 38px;
}

.dltcancelButtons:active{
  border-color: var(--cancelBtn) !important;
}


.cancelButtons {
  border-color: var(--cancelBtn);
  border-radius: 5px;
  width: 71px;
  height: 38px;
}

.cancelButtons:hover {
  border-color: var(--cancelBtn);
  border-radius: 5px;
  width: 71px;
  height: 38px;
}

.cancelButtons:active{
  border-color: var(--cancelBtn) !important;
}


.confirmButtons {
  background-color: var(--greenColorBtn);
  border-radius: 5px;
  width: 422px;
  height: 45px;
}

.confirmButtons:hover {
  background-color: var(--greenColorBtn);
  border-radius: 5px;
  width: 422px;
  height: 45px;
}

/* ***********************          Button Colors     *********************** */



/* ***********************          Active Sidebar     *********************** */


.actionOptions {
  background-color: var(--greenColorBtn);
  border-right: 5px solid var(--activeOrangeBorder);
  color: #fff !important;
  position: relative;
}

.actionOptions {
  background-color: var(--greenColorBtn);
  border-right: 5px solid var(--activeOrangeBorder);
  color: #fff !important;
  position: relative;
}

.actionOptions::before {
  content: "";
  display: block;
  width: 0; 
  height: 0; 
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid var(--activeOrangeBorder);
  position: absolute;
  top: 32%;
  right: -1%;
}

/* *************************   Collapsed Sidebar Active    ******************************* */

.actionOptionsCollapsed {
  background-color: var(--greenColorBtn);
  border-right: 4px solid var(--activeOrangeBorder);
  color: #fff !important;
  position: relative;
}

.actionOptionsCollapsed::before {
  content: "";
  display: block;
  width: 0; 
  height: 0; 
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid var(--activeOrangeBorder);
  position: absolute;
  top: 32%;
  right: -1%;
}

.actionOptionsCollapsed:hover{
  background-color: var(--greenColorBtn);
  border-right: 4px solid var(--activeOrangeBorder);
  color: #fff !important;
  position: relative;
}

.actionOptionsCollapsed::before:hover{
  content: "";
  display: block;
  width: 0; 
  height: 0; 
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid var(--activeOrangeBorder);
  position: absolute;
  top: 32%;   
  right: -1%;
}



/* ***********************          Active Sidebar     *********************** */

.dropdown-item.active, .dropdown-item:active {
  background-color: #f8f9fa;
}

.scrizalogoImg{
  height: 53px
}

.sidebarLogoimg{
  display: flex;
  justify-content: center;
}

.actionButtons{
  background-color: linear-gradient(#4bc0c0, #ffff);
}

.btn-bgAndColor{
  background: #008479;
  color: #fff !important;
}




/* ********************************        MEDIA QUERY FOR SIDEBAR       ********************************* */


@media screen and (width: 831px){
  .sidebarContentDiv{
      width: 168px !important;
  }
}

@media screen and (width: 832px){
  .sidebarContentDiv{
      width: 169px !important;
  }
}

@media screen and (width: 833px){
  .sidebarContentDiv{
      width: 170px !important;
  }
}

@media screen and (width: 834px){
  .sidebarContentDiv{
      width: 171px !important;
  }
}

@media screen and (width: 835px){
  .sidebarContentDiv{
      width: 172px !important;
  }
}

@media screen and (width: 836px){
  .sidebarContentDiv{
      width: 173px !important;
  }
}

@media screen and (width: 833px){
  .sidebarContentDiv{
      width: 170px !important;
  }
}

@media screen and (width: 833px){
  .sidebarContentDiv{
      width: 170px !important;
  }
}

@media screen and (width: 833px){
  .sidebarContentDiv{
      width: 170px !important;
  }
}

@media screen and (width: 833px){
  .sidebarContentDiv{
      width: 170px !important;
  }
}

@media screen and (width: 833px){
  .sidebarContentDiv{
      width: 170px !important;
  }
}

@media screen and (width: 833px){
  .sidebarContentDiv{
      width: 170px !important;
  }
}

@media screen and (width: 833px){
  .sidebarContentDiv{
      width: 170px !important;
  }
}

@media screen and (width: 833px){
  .sidebarContentDiv{
      width: 170px !important;
  }
}

@media screen and (width: 833px){
  .sidebarContentDiv{
      width: 170px !important;
  }
}


/* ********************************        MEDIA QUERY FOR SIDEBAR       ********************************* */









.heading-16{
  font-size: var(--font-size-15) !important;
}
.heading-13{
  font-size: var(--font-size-13) !important;
}
.heading-12{
  font-size: var(--font-size-12) !important;
}
.heading-14{
  font-size: var(--font-size-14) !important;
}
.heading-18{
  font-size: var(--font-size-18) !important;
}
.heading-20{
  font-size: var(--font-size-20) !important;
}
.heading-25{
  font-size: var(--font-size-25) !important;
}
.breadCrum-color{
  color: var( --breadCrumColor) !important;
}
.font-color{
  color: var(  --paragraghColor) !important;
}
.breadcrum-li a{
  text-decoration: none;
  margin-top: 5px;
  color: var(  --greenTextColor) !important;
  }
.hading-black-color{
  color: var(  --headingBlackColor) !important;
  }
.button-bg-color{
background: var( --buttonBgColor) !important;
  }
.button-color{
    color: var(--whiteTextColor) !important;
  }
.text-color-000{
color: var(--textColor) !important;
  }
.grey-input-text-color{
  color: var(  --greyInputTextColor) !important;
}
.grey-input-text-color::placeholder{
  color: var(  --greyInputTextColor) !important;
}
.input-border-color{
  border-color: var(  --greyInputborderColor) !important;
}
.grey-border-color{
  border: 1px solid var(--greyborderColor) !important;
}
.greyTextColor{
  color: var(--greyTextColor) !important;
}
.table-row-bg-color{
  background: var(--tableRowBgColor) !important;
}
.tableActionButtonBgColor{
  background: var(--tableActionButtonBgColor) !important;
}
.my-class-for-validation{
margin-top: -15px;
margin-left:13px;

}